.selected {
  background-color: #d0eaff;
  cursor: pointer;
}
li {
  cursor: pointer;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border: 0px;
}

.hijo {
    padding: 20px;
}
